/**********************************
  main
**********************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 18px;
  height: 100%;
  background-color: #f2f5f4;
  margin: 0;
}

a {
  text-decoration: none;
  color: #010d07;
}

a:hover {

  color: #84a192;
}
/**********************************
  nav
**********************************/
.flex-nav {
  background-color: #cdd9d3;
  width: 100%;
  padding-top: 15px;
  height: 130px;
}

.flex-nav ul {
  list-style: none;
  align-items: baseline;
}

.flex-nav li {
  padding: 5px;
  margin: auto 5px;
}

.flex-nav img {
  margin: auto;
}

.one {
  flex-grow: 1;
  float: left;
}

.two,
.three {
  display: block;
  width: 50%;
  float: right;
  margin: auto;
}

.disable-link {
  pointer-events: none;
}
/**********************************
  gallery
**********************************/
.listings-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.single-list-item {
  margin-left: 15px;
}

.hidden {
  display: none;
}
.range-slider {
  max-width: 180px;
  padding-left: 10px;

}
.price-filter {
  border: 1px solid black;
  max-width: 210px;
}

/**********************************
  map
**********************************/
.listings-map {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 4px;
  border-width: 20px;
  border-style: solid;
  border-color: #cdd9d3;
}
/**********************************
  listing form
**********************************/
.form {
  display: flex;
  flex-wrap: wrap;
}

.preview-gallery {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/**********************************
  Buttons
**********************************/
.btn-square {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 5px #000000;
  -webkit-box-shadow: 5px 5px 10px #666666;
  -moz-box-shadow: 5px 5px 10px #666666;
  box-shadow: 5px 5px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
  display: block;
  background: #3a6951;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline-color: #062f1a;
  transition: background .5s;
  width: 100%;

}
.btn-square:hover {
  background: #094426;
  text-decoration: none;
}

.btn-square:focus {
  outline: none;
  background: #094426;
  text-decoration: none;
}

.btn-round {
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  text-shadow: 1px 1px 5px #000000;
  -webkit-box-shadow: 5px 5px 10px #666666;
  -moz-box-shadow: 5px 5px 10px #666666;
  box-shadow: 5px 5px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #3a6951;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline-color: #062f1a;
}

.btn-round:hover {
  background: #094426;
  text-decoration: none;
}

.btn-round:focus {
  outline: none;
  background: #094426;
  text-decoration: none;
}

/*********************************
   carousel
*********************************/
