/**********************************
  main
**********************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 18px;
  height: 100%;
  background-color: #f2f5f4;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;

}

a {
  text-decoration: none;
  color: #010d07;
}

a:hover {

  color: #84a192;
}
/**********************************
  nav
**********************************/
.flex-nav {
  background-color: #cdd9d3;
  width: 100%;
  padding-top: 15px;
  height: 130px;
}

.logo {
  margin: auto 60px;
  list-style-type: none;
  float: left;
}

.buttons {
  list-style-type: none;
  float: right;
  margin-right: 40px;
}

.buttons ul {


}

.buttons li {
  width: 200px;
  justify-content: space-around;

}

.disable-link {
  pointer-events: none;
}
/**********************************
  gallery
**********************************/
.listings-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.single-list-item {
  margin-left: 15px;
}

.hidden {
  display: none;
}
.range-slider {
  max-width: 180px;
  padding-left: 10px;

}
.price-filter {
  border: 1px solid black;
  max-width: 210px;
}

/**********************************
  map
**********************************/
.listings-map {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 4px;
  border-width: 20px;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}
/**********************************
  listing form
**********************************/
.form {
  display: flex;
  flex-wrap: wrap;
}

.preview-gallery {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/**********************************
  Buttons
**********************************/
.btn-square {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 5px #000000;
  -webkit-box-shadow: 5px 5px 10px #666666;
  -moz-box-shadow: 5px 5px 10px #666666;
  box-shadow: 5px 5px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
  display: block;
  background: #3a6951;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline-color: #062f1a;
  transition: background .5s;
  width: 70%;
  float: right;
}
.btn-square:hover {
  background: #094426;
  text-decoration: none;
}

.btn-square:focus {
  outline: none;
  background: #094426;
  text-decoration: none;
}

.btn-round {
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  text-shadow: 1px 1px 5px #000000;
  -webkit-box-shadow: 5px 5px 10px #666666;
  -moz-box-shadow: 5px 5px 10px #666666;
  box-shadow: 5px 5px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #3a6951;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline-color: #062f1a;
}

.btn-round:hover {
  background: #094426;
  text-decoration: none;
}

.btn-round:focus {
  outline: none;
  background: #094426;
  text-decoration: none;
}

/*********************************
   carousel
*********************************/
.carousel-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 40%;
  float: left;
  color: #333;
  margin-top: 20px;
  margin-left: 20px;
  background: lightgrey;
}
.single-list-item-key {
  display: inline-block;
  padding-right: 20px;

}
.single-item-image {
  width: 100%;
}
@media all and (min-width: 593px) and (max-width: 1040px) {
  .single-item-image {
    margin-top: 30%;
  }
}
.chat-with-button {
  margin-bottom: 80px;
}
.all-items-seller-heading {
  color: #696969;

}
.all-listings-from-user {
  border-radius: 1%;
}
.user-listings-container {
  background-color: #f2f5f4;
}
.all-items-seller-heading:before, .all-items-seller-heading:after {
  content: "";
  display: inline-block;
  width: 9%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
.all-items-seller-heading:after {
  margin: 0 -55% 0 .5em;
}
.single-item-listings-container {
  font-family: 'Roboto Condensed', sans-serif;
}
.single-listing-title {
  padding-bottom: 30px;
}
.profile-pic-single {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  margin-top: 10px;
}

/*********************************
   input
*********************************/

.equip-search {
  background-color: #fff;
  box-shadow: none;
  display: block;
  min-width: 100%;
}

.equip-search input {
  width: 100%;
  padding: 12px 50px;
  margin: 20px auto;
  text-align: left;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.equip-search input:focus {
  outline: none;
  border: 2px solid #527c67;
}

.filter {
  margin: 0 auto 60px;
  width: 100%;
  min-width: 100%;
  background-color: #fff;
  box-shadow: none;
  display: block;
}

.equip-display {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
}
