/**********************************
  main
**********************************/
* {
  box-sizing: border-box;
}
/**********************************
  nav
**********************************/
.flex-nav {
  margin-right: 35px;
}
.flex-nav ul {
  display: flex;
  list-style: none;
  align-items: baseline;
}

.flex-nav li {
  padding: 5px;
  margin: 5px;
}

.one {
  flex-grow: 1;
}
/**********************************
  gallery
**********************************/
.listings-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.single-list-item {
  margin-left: 15px;
}

.hidden {
  display: none;
}
.range-slider {
  max-width: 180px;
  padding-left: 10px;

}
.price-filter {
  border: 1px solid black;
  max-width: 210px;
}

/**********************************
  listing form
**********************************/
.form {
  display: flex;
  flex-wrap: wrap;
}

.preview-gallery {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*********************************
   carousel
*********************************/
.carousel-container {
  margin: 0 auto;
  padding: 40px;
  width: 300px;
  color: #333;
  background: lightgrey;
}
