/**********************************
  main
**********************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 18px;
  height: 100%;
  background-color: #f2f5f4;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #010d07;
}

a:hover {

  color: #84a192;
}


/**********************************
  HEADERS
**********************************/

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #3a6951;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

input::placeholder {
  font-size: 90%;
}

/**********************************
  nav
**********************************/

.flex-nav {
  background-color: #cdd9d3;
  width: 100%;
  padding-top: 15px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  margin: 20px 40px;
  list-style-type: none;
  max-width: 0.5rem;

}

.nav-buttons {
  max-width: 400px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}


.nav-buttons li {
  width: 160px;
}
.nav-buttons li:first-child {
  width: 60px;
}

.nav-chat-read {
  font-size: 300%;
  color: #3a6951;
}

.nav-chat-unread {
  font-size: 300%;
  color: red;
}

.disable-link {
  pointer-events: none;
}
@media all and (max-width: 600px) {
  .flex-nav {
    height: 200px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  .logo {
    align-self: stretch;
  }
}

/**********************************
  gallery
**********************************/
.listings-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  background-color: #f2f5f4;
  border-radius: 2%;
  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.single-list-item {
  margin-left: 15px;

}

.hidden {
  display: none;
}
.range-slider {
  max-width: 180px;
  padding-left: 10px;

}
.price-filter {
  border: 1px solid black;
  max-width: 210px;
}

/**********************************
  map
**********************************/
.listings-map {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 4px;
  border-width: 20px;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}
/**********************************
  listing form
**********************************/
.form {
  display: flex;
  flex-wrap: wrap;
}

.preview-gallery {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/**********************************
  buttons
**********************************/
.btn-square {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 5px #000000;
  -webkit-box-shadow: 5px 5px 10px #666666;
  -moz-box-shadow: 5px 5px 10px #666666;
  box-shadow: 5px 5px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
  display: block;
  cursor: pointer;
  background: #3a6951;
  padding: 10px 20px 10px 20px;
  margin: 8px;
  text-decoration: none;
  outline-color: #062f1a;
  transition: background .5s;
  width: 70%;
}
.btn-square:hover {
  background: #094426;
  text-decoration: none;
}

.btn-square:focus {
  outline: none;
  background: #094426;
  text-decoration: none;
}

.btn-round {
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  text-shadow: 1px 1px 5px #000000;
  -webkit-box-shadow: 5px 5px 10px #666666;
  -moz-box-shadow: 5px 5px 10px #666666;
  box-shadow: 5px 5px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #3a6951;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline-color: #062f1a;
}

.btn-round:hover {
  background: #094426;
  text-decoration: none;
}

.btn-round:focus {
  outline: none;
  background: #094426;
  text-decoration: none;
}

/*********************************
   carousel
*********************************/
.carousel-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 40%;
  float: left;
  color: #333;
  margin-top: 20px;
  margin-left: 20px;
  background: lightgrey;
}
.single-list-item-key {
  display: inline-block;
  padding-right: 20px;

}
.single-item-image {
  width: 100%;
}
@media all and (min-width: 593px) and (max-width: 1040px) {
  .single-item-image {
    margin-top: 30%;
  }
}
.chat-with-button {
  margin-bottom: 80px;
}
.all-items-seller-heading {
  color: #696969;

}
.all-listings-from-user {
  border-radius: 1%;
}
.user-listings-container {
  background-color: #f2f5f4;
}
.all-items-seller-heading:before, .all-items-seller-heading:after {
  content: "";
  display: inline-block;
  width: 9%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
.all-items-seller-heading:after {
  margin: 0 -55% 0 .5em;
}
.single-item-listings-container {
  font-family: 'Roboto Condensed', sans-serif;
}
.single-listing-title {
  padding-bottom: 30px;
}
.profile-pic-single {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  margin-top: 10px;
}

/*********************************
   input
*********************************/

.equip-search {
  background-color: #fff;
  box-shadow: none;
  display: block;
  min-width: 100%;
}

.equip-search input {
  width: 100%;
  padding: 12px 10px;
  margin: 20px auto;
  text-align: left;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.equip-search input:focus {
  outline: none;
  border: 2px solid #527c67;
}

.filter {
  margin: 0 auto 60px;
  width: 100%;
  min-width: 100%;
  background-color: #fff;
  box-shadow: none;
  display: block;
}

.equip-display {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
}
/*********************************
   form
*********************************/

.input {
  border: 5px ridge #84a192;
  border-radius: 3px;
}
.textarea {
  border: 5px ridge #84a192;
  border-radius: 3px;
}
.form-field {
  margin-top: 15px;
}
.field-msg {
  color: red;
  font-size: 16px;
}
.form-holder {
  margin: 0 auto;
}
.form {
  margin-bottom: 25px;
}
.submit-data {
  margin: 3% 2%;
  display: block;
}
.form-controls {
  padding: 15px 0;
  margin: 20px;
  background-color: #f2f5f4;
  border-radius: 2%;
}
.dropzone {
  height: 200px;
  width: 200px;
  border: 2px solid #527c67;
  border-radius: 2px;
  margin: auto;
}
.preview-gallery {
  height: auto;
  display: block;
  text-align: center;
  margin: 3%;
}
.preview-images {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.preview-text {
  display: block;
}
.btn-holder {
  padding-left: 20%;
}
