/**********************************
  main
**********************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 18px;
  height: 100%;
  background-color: #f2f5f4;
  margin: 0;

}
/**********************************
  nav
**********************************/
.flex-nav {
  margin-right: 35px;
  background-color: #cdd9d3;
  width: 100%;
}
.flex-nav ul {
  display: flex;
  list-style: none;
  align-items: baseline;
}

.flex-nav li {
  padding: 5px;
  margin: auto 50px auto 0;
}

/*.flex-nav a {
  color: #FFFFFF;
  text-decoration: none;
}*/

/*.flex-nav a:hover {
  color: #84a192;
}*/

.one {
  flex-grow: 1;
}
.disable-link {
  pointer-events: none;
}
/**********************************
  gallery
**********************************/
.listings-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.single-list-item {
  margin-left: 15px;
}

.hidden {
  display: none;
}
.range-slider {
  max-width: 180px;
  padding-left: 10px;

}
.price-filter {
  border: 1px solid black;
  max-width: 210px;
}

/**********************************
  map
**********************************/
.listings-map {
  margin-left: 150px;
}
/**********************************
  listing form
**********************************/
.form {
  display: flex;
  flex-wrap: wrap;
}

.preview-gallery {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/**********************************
  Buttons
**********************************/
.btn-square {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 5px #000000;
  -webkit-box-shadow: 5px 5px 10px #666666;
  -moz-box-shadow: 5px 5px 10px #666666;
  box-shadow: 5px 5px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 100%;
  background: #3a6951;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline-color: #062f1a;
}
.btn-square:hover {
  background: #094426;
  text-decoration: none;
}

.btn-square:focus {
  outline: none;
  background: #094426;
  text-decoration: none;
}

.btn-round {
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  text-shadow: 1px 1px 5px #000000;
  -webkit-box-shadow: 5px 5px 10px #666666;
  -moz-box-shadow: 5px 5px 10px #666666;
  box-shadow: 5px 5px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #3a6951;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline-color: #062f1a;
}

.btn-round:hover {
  background: #094426;
  text-decoration: none;
}

.btn-round:focus {
  outline: none;
  background: #094426;
  text-decoration: none;
}


/*********************************
   carousel
*********************************/
.carousel-container {
  margin: 0 auto;
  padding: 40px;
  width: 40%;
  color: #333;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  background: lightgrey;
}
