/**********************************
  main
**********************************/
* {
  box-sizing: border-box;
}
/**********************************
  nav
**********************************/
.flex-nav {
  margin-right: 35px;
}
.flex-nav ul {
  display: flex;
  list-style: none;
  align-items: baseline;
  align-self: flex-start;
}

.flex-nav li {
  padding: 5px;
  margin: 5px;
}

.one {
  flex-grow: 1;
}
/**********************************
  gallary
**********************************/
.listings-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.single-list-item {
  margin-left: 15px;
}

.hidden {
  display: none;
}
/**********************************
  listing form
**********************************/
.form {
  display: flex;
  flex-wrap: wrap;
}

.preview-gallery {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
