/**********************************
  main
**********************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 18px;
  height: 100%;
  background-color: #f2f5f4;
  margin: 0;

}
/**********************************
  nav
**********************************/
.flex-nav {
  margin-right: 35px;
  background-color: #cdd9d3;
  width: 100%;
}
.flex-nav ul {
  display: flex;
  list-style: none;
  align-items: baseline;
}

.flex-nav li {
  padding: 5px;
  margin: auto 50px auto 0;
}

/*.flex-nav a {
  color: #FFFFFF;
  text-decoration: none;
}*/

/*.flex-nav a:hover {
  color: #84a192;
}*/

.one {
  flex-grow: 1;
}
.disable-link {
  pointer-events: none;
}
/**********************************
  gallery
**********************************/
.listings-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.single-list-item {
  margin-left: 15px;
}

.hidden {
  display: none;
}
.range-slider {
  max-width: 180px;
  padding-left: 10px;

}
.price-filter {
  border: 1px solid black;
  max-width: 210px;
}

/**********************************
  map
**********************************/
.listings-map {
  margin-left: 150px;
}
/**********************************
  listing form
**********************************/
.form {
  display: flex;
  flex-wrap: wrap;
}

.preview-gallery {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/**********************************
  Buttons
**********************************/
.btn-square {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 5px #000000;
  -webkit-box-shadow: 5px 5px 10px #666666;
  -moz-box-shadow: 5px 5px 10px #666666;
  box-shadow: 5px 5px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 100%;
  background: #3a6951;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline-color: #062f1a;
}
.btn-square:hover {
  background: #094426;
  text-decoration: none;
}

.btn-square:focus {
  outline: none;
  background: #094426;
  text-decoration: none;
}

.btn-round {
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  text-shadow: 1px 1px 5px #000000;
  -webkit-box-shadow: 5px 5px 10px #666666;
  -moz-box-shadow: 5px 5px 10px #666666;
  box-shadow: 5px 5px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #3a6951;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline-color: #062f1a;
}

.btn-round:hover {
  background: #094426;
  text-decoration: none;
}

.btn-round:focus {
  outline: none;
  background: #094426;
  text-decoration: none;
}

/*********************************
   carousel
*********************************/
.carousel-container {
  margin: 0 auto;
  padding: 40px;
  width: 300px;
  color: #333;
  background: lightgrey;
}

/*********************************
   chat styles
*********************************/

.chat-room {
  background: #1ddced;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: tahoma, sans-serif;
}

.chatbox {
  width: 500px;
  min-width: 390px;
  height: 600px;
  background: #fff;
  padding: 25px;
  margin: 20px auto;
  box-shadow: 0 3px #ccc;
}

.chatlogs {
  padding: 10px;
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
  width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat .user-photo {
  width: 60px;
  height: 60px;
  background: #094426;
  border-radius: 50%;
  overflow: hidden;
}

.chat .user-photo img {
  width: 100%;
  height: 100%;

}
.chat .user-photo p {
  text-align: center;
  font-size: 20px;
  color: #eee;
}

.chat .chat-message {
  width: 80%;
  padding: 15px;
  margin: 5px 10px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
}

.friend .chat-message {
  background: #1adda4;
}

.self .chat-message {
  background: #1ddced;
  order: -1;
}

.chat-form {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.chat-form textarea {
  background: #fbfbfb;
  width: 75%;
  height: 50px;
  border: 2px solid #eee;
  border-radius: 3px;
  resize: none;
  padding: 10px;
  font-size: 18px;
  color: #333;
}

.chat-form textarea:focus {
  background: #fff;
}
.chat-form textarea::-webkit-scrollbar {
  width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.chat-form input {
  background: #1ddced;
  padding: 5px 15px;
  font-size: 30px;
  color: #fff;
  border: none;
  margin: 0 10px;
  border-radius: 3px;
  box-shadow: 0 3px #0eb2c1;
  cursor: pointer;
  transition: background .5s ease;
}

.chat-form input:hover {
  background: #13c8d9;
}
