/**********************************
  main
**********************************/
* {
  box-sizing: border-box;
}
/**********************************
  nav
**********************************/
.flex-nav ul {
  display: flex;
  list-style: none;
  align-items: baseline;
  align-self: flex-start;
}

.flex-nav li {
  padding: 5px;
  margin: 5px;
}

.flex-nav h1 {
  flex-grow: 10;
}
/**********************************
  gallary
**********************************/
.listings-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.single-list-item {
  margin-left: 15px;
}

.hidden {
  display: none;
}
.range-slider {
  max-width: 180px;
  padding-left: 10px;

}
.price-filter {
  border: 1px solid black;
  max-width: 210px;
}

/**********************************
  listing form
**********************************/
.form {
  display: flex;
  flex-wrap: wrap;
}

.preview-gallery {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
