.dash-stat {
 font-size: 28px;
 color: #3a6951;
 font-weight: bold;
}
.dash-head {
  margin-bottom: 10px;
  margin-top: 50px;
}
.dash-title {
  padding-top: 30px;
}
.rc-slider-step {
  background-color: #3a6951;
}
.rc-slider-handle {
  height: 30px;
  width: 30px;
  border-color: #3a6951;
}
.rc-slider-handle:hover {
  border-color: brown;
}
