.wrapper {
  background: #cdd9d3;
  width: calc(100% - 10rem);
  width: 95%;
  max-width: 50rem;
  margin: 40px auto;
  padding: 20px;
}

/*.wrapper {
  width: calc(100% - 10rem);

  margin: 0 auto;
  padding: 0 20px;
}*/

[class*="col-"] {
  margin-bottom: 20px;
  min-height: 20px;
  background: #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media all and (min-width: 600px) {
  .wrapper {
    width: calc(100% - 5rem);
    background: #cdd9d3;
    margin: 0 auto;
    border-radius: 4px;
  }

  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
  }

  [class*="col-"] {
    margin-right: 2%;
  }

  /*[class*="col-"]:last-child {
    margin-right: 0;
  }*/

  .col-1 {
    flex: 0 0 calc(90% / 12 * 1);
  }
  .col-2 {
    flex: 0 0 calc(90% / 12 * 2);
  }
  .col-3 {
    flex: 0 0 calc(100% / 12 * 3);
    background-color: #cdd9d3;
  }
  .col-4 {
    flex: 0 0 calc(90% / 12 * 4);
  }
  .col-5 {
    flex: 0 0 calc(90% / 12 * 5);
  }
  .col-6 {
    flex: 0 0 calc(90% / 12 * 6);
  }
  .col-7 {
    flex: 0 0 calc(90% / 12 * 7);
  }
  .col-8 {
    flex: 0 0 calc(90% / 12 * 8);
  }
  .col-9 {
    flex: 0 0 calc(90% / 12 * 9);
  }
  .col-10 {
    flex: 0 0 calc(90% / 12 * 10);
  }
  .col-11 {
    flex: 0 0 calc(90% / 12 * 11);
  }
  .col-12 {
    flex: 0 0 90%;
  }
}

@media all and (min-width: 1000px) {
  .wrapper {
    max-width: 1400px;
    margin: 40px auto;
  }

}
