@media all and (min-width: 600px) {
  /**********************************
    nav
  **********************************/
  .flex-nav ul {
    display: flex;
    list-style: none;
    align-items: baseline;
  }

  .flex-nav li {
    padding: 5px;
    margin: auto 5px;
  }

  .flex-nav img {
    margin-left: 80px;
  }

  .one {
    flex-grow: 1;
  }

  .two,
  .three {
    display: block;
    max-width: 20%;
  }
}

/**********************************
  map
**********************************/

.listings-map {
  width: calc(100% - 10rem);
  border-radius: 4px;
}

/**********************************
  input and filter
**********************************/

.equip-search {
  box-shadow: none;
}

.filter {
  color: #010d07;
  box-shadow: none;
}
/**********************************
  listings display main page
**********************************/
.equip-display {
  margin: 40px auto;
}

@media all and (min-width: 720px) {

  .equip-search input {
    width: 120%;
    padding: 12px 50px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  .equip-search input:focus {
    width: 200%;
    outline: none;
    border: 2px solid #527c67;
  }
}
